ACTION=="change", DEVPATH=="/devices/platform/f8102800.usb/udc/f8102800.usb", SUBSYSTEM=="udc", RUN+="/bin/sh /usr/bin/udc_rebind.sh usb2"
ACTION=="change", DEVPATH=="/devices/platform/usb3drd0/f80a1000.dwc3/udc/f80a1000.dwc3", SUBSYSTEM=="udc", RUN+="/bin/sh /usr/bin/udc_rebind.sh usb3"
ACTION=="online", SUBSYSTEM=="platform", RUN+="/bin/sh /usr/bin/s50_restart.sh"
