[Unit]
Description=Monitor Keys Service
After=network.target

[Service]
ExecStart=/usr/bin/adckey 10 "factoryreset"
Restart=on-failure

[Install]
WantedBy=multi-user.target
